.banner-contato {
  margin-top: 120px;
  background: url(../Imagens/img/banner-contato.jpg) no-repeat;
  background-size: 100% 100%;
  height: 450px;
}
/* Formulario */

.descricao-contato {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  color: var(--cor-v6);
  font-family: "Barlow", Sans-serif;
  font-size: 16px;
  line-height: 32px;
}

.form-contato {
  display: flex;
  flex-wrap: wrap;
  width: 830px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  gap: 5px;
}

.form-contato input[type="text"],
.form-contato input[type="email"],
.form-contato textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--cor-v1);
  border: 0px solid var(--cor-v1);
  border-radius: 20px;
  margin: 3px;
  padding: 10px;
  padding-right: 200px;
}

.form-contato input[type="text"]:focus,
.form-contato input[type="email"]:focus,
.form-contato textarea:focus {
  outline: none;
  border: 1px solid var(--cor-v12);
}

.form-contato textarea {
  padding-right: 605px;
}

.form-contato ::placeholder {
  color: var(--cor-v3);
}

.botao-contato {
  display: flex;
  width: 790px;
  justify-content: center;
  padding: 15px;
  border: none;
  margin: 10px auto 50px auto;
  background: var(--cor-v12);
  border-radius: 20px;
  text-transform: uppercase;
  color: var(--cor-v0);
  font-weight: bold;
  font-size: 1.125rem;
}
.botao-contato:hover {
  transform: scale(1.07);
  transition: all 0.3s;
}

.gps {
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .banner-contato {
    height: 300px;
  }
  .descricao-contato {
    font-size: 14px;
    line-height: 28px;
  }
  .form-contato {
    display: grid;
    width: 260px;
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .form-contato textarea {
    padding-right: 200px;
  }
  .botao-contato {
    width: 350px;
    display: grid;
  }
  .texto-banner {
    font-size: 32px;
    margin-bottom: 15%;
  }
  .banner-contato {
    height: 300px;
  }
}

@media (max-width: 800px) {
  .banner-contato {
    height: 250px;
  }
}

@media (max-width: 600px) {
  .banner-contato {
    height: 200px;
  }
}

@media (max-width: 450px) {
  .banner-contato {
    height: 150px;
  }
}

@media (max-width: 440px) {
  .botao-contato {
    width: 250px;
  }
  .form-contato input[type="text"],
  .form-contato input[type="email"] {
    padding-right: 100px;
  }
  .form-contato textarea {
    padding-right: 105px;
  }
}
