/*Banner-Carrosel*/
.body-banner {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide {
  width: 1920px;
  height: 450px;
  overflow: hidden;
  transition: all 0.4s;
}
.slides {
  width: 5000px;
  display: flex;
}
.image {
  width: 1920px;
  height: 450px;
  background-color: var(--cor-v2);
}
.image img {
  width: 1920px;
  height: 450px;
}
#atual {
  transition: all 2s;
}
.btn {
  position: absolute;
  color: var(--cor-v0);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 1.7em;
  margin-top: -5px;
}
.btn:hover {
  transform: scale(1.5);
}
#voltar {
  top: 50%;
  left: 5%;
}
#next {
  top: 50%;
  right: 5%;
}
.balls {
  position: absolute;
  bottom: 45%;
  max-width: 1920px;
  max-height: 100%;
  display: flex;
}
.balls div {
  transition: all 0.5;
  border: 3px solid var(--cor-v0);
  padding: 4px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.balls div:hover {
  background: var(--cor-v0);
}
.imgAtual {
  transition: all 0.5s;
  background: var(--cor-v0);
}

/* conteudo */

.botao-home {
  display: inline-block;
  border: 1px solid var(--cor-v0);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

/* Abaixo do banner */

.baixo-banner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin: 80px 0;
}
.baixo-banner img {
  grid-column: 2;
  max-width: 500px;
}
.text-home {
  display: flex;
  flex-wrap: wrap;
}
.text-home a {
  max-width: 130px;
  height: 20px;
}
.text-home p {
  line-height: 28px;
  padding: 10px;
}
.text-home h1 {
  margin-left: 10px;
  max-width: 600px;
  min-width: 300px;
}
.contato-b-home {
  max-width: 205px !important;
}

/* Serviços Home */

.title-servico {
  background: var(--cor-v1);
  justify-content: center;
  text-align: center;
  font-size: 4rem;
}
.container-servico {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: var(--cor-v1);
  padding: 40px;
}
.container-servico-eletrica {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: var(--cor-v0);
  padding: 40px;
}
.text-servico a {
  color: var(--cor-v12);
  letter-spacing: 1.3px;
  font-weight: bold;
}

.text-servico > h2,
.text-servico > p {
  max-width: 460px;
  max-height: 370px;
  line-height: 30px;
  padding-bottom: 25px;
  justify-content: center;
}

/* Paragrafo laranja */

.container-laranja {
  background-color: var(--cor-v12);
  padding: 100px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.container-laranja > a {
  padding: 20px 30px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 90px;
}
.container-laranja a:hover {
  transform: scale(1.07);
  transition: all 0.3s;
}
/* Modelos Ar condicionado */
.title-modelos {
  max-width: 600px;
}
.modelos-home {
  display: flex;
  justify-content: center;
  padding: 65px 0;
  margin: 0 20px;
}
.modelos-home img {
  max-width: 483px;
  max-height: 483px;
}
.modelos-text {
  display: grid;

  gap: 0 50px;
  grid-template-columns: 1fr 1fr;
  max-width: 550px;
  padding: 35px 35px;
}
.title-modelos p {
  line-height: 32px;
  margin-top: 30px;
}
.modelos-text-grid h2 {
  margin-bottom: 10px;
}
.modelos-text-grid p {
  line-height: 24px;
  padding-bottom: 15px;
}

.modelos-text-grid h2::before {
  content: url("../Imagens/icones/check-circle.svg");
  margin-left: -35px;
  float: left;
}

/* Manuteção home */

.manutencao-home {
  background-color: var(--cor-v1);
  padding: 40px 0;
}

/* Parcerias home */

.parceria-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: auto auto;
  max-width: 800px;
}
.parceria-conteudo h1 {
  margin: 70px;
  text-transform: uppercase;
}

.logos-container-parcerias {
  display: flex;
  flex-wrap: wrap;
}
.parceria-borda {
  padding: 20px;
}
.parceria-borda img {
  max-width: 150px;
}
.parceria-borda img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.boder-20 {
  border-radius: 20px;
}
@media (max-width: 1370px) {
  .baixo-banner img {
    max-width: 500px;
  }
  .modelos-home img {
    max-width: 383px;
    max-height: 383px;
  }
  .container-servico img {
    width: 250px;
    height: 250px;
  }
  .container-servico-eletrica img {
    width: 250px;
    height: 250px;
  }
  .text-home {
    margin: 15px 0;
  }
}
@media (max-width: 900px) {
  .baixo-banner img {
    display: none;
  }
  .baixo-banner {
    grid-template-columns: repeat(5, 1fr);
  }
  .text-home {
    grid-column: 2/5;
    justify-content: center;
    text-align: center;
  }
  .modelos-home img {
    display: none;
  }
}
@media (max-width: 840px) {
  .container-servico {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
  }
  .container-servico img {
    grid-row: 2;
    grid-column: 3;
    justify-content: center;
    text-align: center;
  }
  .container-servico-eletrica {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
  }
  .container-servico-eletrica img {
    grid-row: 2;
    grid-column: 3;
    justify-content: center;
    text-align: center;
  }
  .text-servico {
    grid-column: 2/5;
    justify-content: center;
    text-align: center;
  }
  .parceria-borda img {
    width: 100px;
  }
  .title-servico {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .text-servico h2 {
    margin: 0;
  }
  .manutencao-home {
    padding: 20px 0;
  }
}
@media (max-width: 600px) {
  .container-azul {
    text-align: center;
    padding: 50px 50px;
  }
  .container-azul > a {
    margin: 15px auto 0 auto;
  }
  .logos-container-parcerias {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1fr 1fr;
  }
  .parceria-borda img {
    width: 130px;
    margin: 0px;
  }
  .container-servico img {
    width: 200px;
    height: 200px;
  }
  .container-servico-eletrica img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 500px) {
  .parceria-borda img {
    width: 85px;
    margin: 0px;
  }
  .balls {
    display: none;
  }
}
@media (max-height: 1080px) {
  .balls {
    bottom: 45%;
  }
}
@media (max-height: 800px) {
  .balls {
    bottom: 35%;
  }
}
@media (max-height: 700px) {
  .balls {
    bottom: 20%;
  }
}
@media (max-height: 500px) {
  .balls {
    bottom: 5%;
  }
}
