.body{
max-width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
}
.slide {
  width: 1330px;
  height: 450px;
  overflow: hidden;
  transition: all 0.4s;
}
.slides{
  width: 5000px;
  display: flex;
}
.image{
  width: 1330px;
  height: 450px;
  background-color: black;
}
.image img{
  width: 1330px;
  height: 450px;
  filter: brightness(30%);
}
#atual{
  transition: all 2s;
}
.btn{
  position: absolute;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 1.7em;
  margin-top: -5px;
}
.btn:hover{
  transform: scale(1.5);
}
#voltar{
  top: 50%;
  left: 5%;
}
#next{
  top: 50%;
  right: 5%;
}
.balls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -45px;
}
.balls div{
  transition: all 0.5;
  border: 3px solid #ffffff;
  padding: 4px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.balls div:hover{
  background: #ffffff;
}
.imgAtual{
  transition: all 0.5s;
  background: #ffffff;
}
/* Abaixo do banner */
.baixo-banner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 60px 0px;
  align-items: center;
}
.baixo-banner img {
  grid-column: 2;
  max-width: 500px;
}
.text-home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 0;
}
.text-home p {
  line-height: 28px;
  padding: 10px;
}
.text-home a {
  max-width: 130px;
  max-height: 40px;
}
.text-home h1 {
  margin-bottom: 40px;
  margin-left: 10px;
  width: 600px;
}
.contato-b-home {
  max-width: 205px !important;
}

/* Serviços Home */

.title-servico {
  background: var(--cor-v1);
  justify-content: center;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}
.container-servico {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  background-color: var(--cor-v1);
  padding: 40px;
}
.text-servico a {
  color: #2da8dd;
  letter-spacing: 1.3px;
  font-weight: bold;
}

.text-servico > h2,
.text-servico > p {
  max-width: 460px;
  max-height: 370px;
  line-height: 30px;
  padding-bottom: 25px;
  font-size: large;
  justify-content: center;
}
.text-servico > h2 {
  font-size: 30px;
}
/* Paragrafo azul */

.container-azul {
  background-color: var(--cor-v5);
  padding: 100px 100px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.container-azul > a {
  padding: 20px 40px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 90px;
}
.container-azul a:hover {
  transform: scale(1.07);
  transition: all 0.3s;
}
/* Modelos Ar condicionado */
.title-modelos {
  max-width: 600px;
}
.modelos-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 65px 0;
}
.modelos-home img {
  max-width: 483px;
  max-height: 483px;
}
.modelos-text {
  display: grid;
  gap: 0 50px;
  grid-template-columns: 1fr 1fr;
  max-width: 550px;
  padding: 35px 10px;
}
.title-modelos p {
  font-size: 1.2rem;
  line-height: 32px;
  margin-top: 30px;
}
.modelos-text-grid h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.modelos-text-grid p {
  line-height: 24px;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.modelos-text-grid h2::before {
  content: url("../imagens/icones/check-circle.svg");
  margin-left: -35px;
  float: left;
}

/* Manuteção home */

.manutencao-home {
  background-color: var(--cor-v1);
}
/* Parcerias home */

.parceria-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: auto auto;
  height: 500px;
  width: 800px;
}
.parceria-conteudo h1 {
  margin: 70px;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.parceria-conteudo p {
  font-size: large;
  text-align: center;
}
.logos-container-parcerias {
  display: flex;
}
.parceria-borda {
  border: 1px solid var(--cor-v0);
  margin-right: 10px;
  padding: 20px;
  max-height: 150px;
  max-width: 150px;
}
.parceria-borda img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
