/* Menu */
.logo {
  width: 150px;
  height: 10%;
  margin: 10px 0; 
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--cor-v0);
  z-index: 998;
  box-shadow: 10px 0px 50px var(--cor-v3);
}
.nav-primaria {
  display: flex;
  padding: 40px;
  gap: 40px;
}
.nav-primaria li {
  padding: 13px 5px;
  line-height: 20px;
}
.menu-tel {
  display: flex;
  align-items: center;
}
.menu-tel img {
  width: 24px;
  height: 24px;
  margin: auto auto;
  margin-right: 10px;
}
.nav-primaria-text {
  color: var(--cor-v2);
}
.nav-primaria-text:hover {
  color: var(--cor-v12);
  transition: 0.5s;
  opacity: 0.7;
}

.detalhe::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  margin-left: 5px;
  margin-bottom: 2px;
  background: url("../Imagens/icones/seta-abrir.svg");
  transform: rotate(180deg);
  transition: 0.5s;
}

.detalhe:hover::after {
  background: url("../Imagens/icones/seta-abrir\ azul.svg") no-repeat;
}
.nav-secundaria {
  display: none;
  position: absolute;
  color: var(--cor-v0);
  box-shadow: 0px 20px 20px var(--cor-v2);
  
}
.menu ul li:hover ul {
  display: block;
  background-color: var(--cor-v0);
  margin-top: 10px;
  border-radius: 4px;
  padding: 15px;
  transition: 2s;
}
.nav-secundaria li:hover {
  background-color: var(--cor-v12);
  transition: background 0.6s;
}
.nav-secundaria-text {
  font-weight: 500;
  font-size: 14px;
  border-bottom: var(--cor-v12) solid 2px;
  width: 300px;
}
.border-none {
  border-bottom: none;
}
.nav-secundaria-text a {
  color: var(--cor-v2);
  padding: 15px 65px;
}
.nav-secundaria-text a:hover {
  color: var(--cor-v0);
}

/* /////// FOOTER ///////// */
.footer-bg {
  padding-top: 50px;
  background-color: var(--cor-v12);
}
.footer-contato {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.footer-copy {
  background-color: var(--cor-v13);
  padding-top: 25px;
  padding-bottom: 35px;
}
.icone-gps::before {
  content: url("../Imagens/icones/GPS.svg");
  margin-right: 10px;
  float: left;
}
.icone-tel::before {
  content: url("../Imagens/icones/telefone-footer.svg");
  margin-right: 10px;
  float: left;
}
.icone-email::before {
  content: url("../Imagens/icones/email.svg");
  margin-right: 10px;
  float: left;
}
.footer-copy p {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* menu responsivo */
.responsivo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.menu-responsivo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}
.hamburguer {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 999;
  top: 2.5rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.show-menu .hamburguer {
  right: 20rem;
}
.line {
  width: 100%;
  height: 0.1rem;
  padding: 1px;
  border-radius: 10px;
  background-color: var(--cor-v12);
  transition: transform 0.7s;
}
.show-menu #line1 {
  transform: rotate(45deg) translate(0.4rem, 0.9rem);
  background-color: var(--cor-v0);
  box-shadow: none;
}
.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}
.show-menu #line3 {
  transform: rotate(-45deg) translate(0.3rem, -0.9rem);
  background-color: var(--cor-v0);
  box-shadow: none;
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: var(--cor-v12);
  box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.582);
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 0.8s;
}
.rigth-menu {
  right: 0rem;
}
.menu-hamburguer {
  position: absolute;
  top: 1%;
  left: 99%;
  transform: translate(-50%, -50%);
}
.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
  font: 400 2rem/1 "Barlow", san-serif;
}
.menu-link {
  font-size: 2rem;
  color: var(--cor-v0);
  transition: color 0.7s;
}
.menu-link:hover {
  color: var(--cor-v8);
  transition: color 0.7s;
}
.logo-responsivo {
  width: 50%;
  height: 15%;
  margin-left: 5rem;
  margin-bottom: 1rem;
}
.responsivo {
  display: none;
}
.img-responsiva {
  width: 50%;
  height: 10%;
  margin-left: 5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.none,
.none-balls {
  display: none;
}

@media (max-width: 1150px) {
  .menu-tel {
    display: none;
  }
  .nav-primaria,
  .menu {
    gap: 10px;
  }
  .logo {
    width: 15%;
    height: 15%;
  }
}
@media (max-width: 750px) {
  .orcamento-menu {
    display: none;
  }
}
/*menu responsivo*/
@media (max-width: 500px) {
  .menu {
    display: none;
  }
  .responsivo {
    display: block;
  }
  .body {
    margin-top: 0px;
  }
  .balls {
    display: none;
  }
}
@media (max-width: 385px) {
  .img-responsiva {
    margin-bottom: 1rem;
  }
  .hamburguer {
    top: 2rem;
  }
  .show-menu .hamburguer {
    right: 18rem;
  }
}
