.banner-orcamento {
  margin-top: 120px;
  background: url(../Imagens/img/banner-orcamento.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 450px;
}

/* Formulario */
.orcamento-detalhe {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  line-break: inherit;
}

.orcamento-detalhe p {
  margin-top: -45px;
  text-align: center;
}

.form-orcamento {
  display: flex;
  flex-wrap: wrap;
  width: 830px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  gap: 5px;
}

.form-orcamento input[type="text"],
.form-orcamento input[type="email"],
.form-orcamento textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--cor-v1);
  border: 0px solid var(--cor-v1);
  border-radius: 20px;
  margin: 3px;
  padding: 10px;
  padding-right: 200px;
}

.form-orcamento input[type="text"]:focus,
.form-orcamento input[type="email"]:focus,
.form-orcamento textarea:focus {
  outline: none;
  border: 1px solid var(--cor-v12);
}

.form-orcamento textarea {
  padding-right: 605px;
}

.form-orcamento ::placeholder {
  color: var(--cor-v3);
}

.whats-orcamento {
  display: flex;
  color: var(--cor-v3);
  font-family: "Roboto", sans-serif;
  margin-top: -40px;
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 32px;
  justify-content: center;
}

.whats-orcamento a {
  padding: 5px 100px;
}

.whats-orcamento b {
  font-weight: bold;
}

.whats-orcamento span::before {
  content: url("../Imagens/icones/icon-whatsapp.svg");
  float: left;
}
@media (max-width: 1000px) {
  .form-orcamento {
    display: grid;
    width: 300px;
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .form-orcamento textarea {
    padding-right: 220px;
  }
  .botao-contato {
    width: 400px;
    display: grid;
  }
  .texto-banner {
    font-size: 32px;
    margin-bottom: 15%;
  }
  .banner-orcamento {
    height: 300px;
  }
}
@media (max-width: 750px) {
  .banner-orcamento {
    height: 250px;
  }
}
@media (max-width: 600px) {
  .banner-orcamento {
    height: 150px;
  }
}

@media (max-width: 440px) {
  .texto-banner-orcamento {
    margin-left: 25%;
  }
  .botao-contato {
    width: 300px;
  }
  .form-orcamento input[type="text"],
  .form-orcamento input[type="email"] {
    padding-right: 120px;
  }
  .form-orcamento textarea {
    padding-right: 125px;
  }
  .whats-orcamento a {
    padding: 5px 50px;
  }
}
