/*banner*/

.banner-servicos {
  margin-top: 120px;
  background: url(../Imagens/img/banner-servicos.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: 0;
}
.content-banner-servicos {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.texto-banner-servicos {
  color: #ffffff;
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Conteudo */

.conteiner-servicos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.descricao-servicos {
  display: grid;
  align-content: center;
  width: 510px;
  padding: 40px;
  text-align: left;
  margin-left: auto;
  gap: 3%;
}

.descricao-servicos h1 {
  font-family: "Barlow", sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
}

.descricao-servicos p {
  font-family: "Roboto", sans-serif;
  align-content: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.img-servicos {
  width: 600px;
  height: 450px;
  border-radius: 20px;
  margin: 10% 5%;
}

.conteiner-servicos-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  background: #f2f3f4;
}

.descricao-servicos-2 {
  display: grid;
  width: 510px;
  padding: 50px;
  text-align: left;
  gap: 3%;
  align-content: center;
}

.descricao-servicos-2 h1 {
  font-family: "Barlow", sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
}

.descricao-servicos-2 p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 32px;
}

.img-servicos-2 {
  width: 600px;
  height: 450px;
  border-radius: 20px;
  margin: 10% 5%;
  grid-area: 1 / 1;
  margin-left: auto;
}

@media (max-width: 1300px) {
  .img-servicos,
  .img-servicos-2 {
    width: 400px;
    height: 400px;
  }
  .descricao-servicos,
  .descricao-servicos-2 {
    width: 300px;
  }
  .descricao-servicos h1,
  .descricao-servicos-2 h1 {
    font-size: 1.5rem;
  }
  .descricao-servicos p,
  .descricao-servicos-2 p {
    font-size: 1rem;
  }
}

@media (max-width: 860px) {
  .img-servicos,
  .img-servicos-2 {
    width: 300px;
    height: 300px;
  }
  .descricao-servicos p,
  .descricao-servicos-2 p {
    line-height: 20px;
  }
}

@media (max-width: 700px) {
  .descricao-servicos,
  .descricao-servicos-2 {
    width: 85%;
    grid-column: 1 / -1;
    justify-content: center;
  }
  .img-servicos,
  .img-servicos-2 {
    display: none;
  }
  .descricao-servicos h1,
  .descricao-servicos-2 h1,
  .descricao-servicos p,
  .descricao-servicos-2 p {
    width: 400px;
    text-align: center;
  }
}
