/*Banner*/
.banner-sobre {
  margin-top: 120px;
  background: url(../Imagens/img/banner-sobre.jpg) no-repeat;
  background-size: 100% 100%;
  height: 450px;
}

/*Conteúdo*/
.conteudo-principal-sobre {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-left: 20px;
}
.conteúdo-sobre {
  grid-column: 2;
  margin-bottom: 20px;
}
.conteúdo-sobre h1,
h2,
h3,
h4 {
  margin-bottom: 30px;
}
.conteúdo-sobre h2 {
  line-height: 2;
  font-size: 18px;
}
.conteúdo-sobre h3 {
  line-height: 2;
  font-size: 18px;
}
.conteúdo-sobre h4 {
  line-height: 2;
  font-size: 18px;
}

.icones-sobre {
  grid-column: 2;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 60px;
}
.icones-sobre img {
  margin: 0 10px;
  border-radius: 10px;
}
.marcas-sobre {
  display: grid;
  margin-left: 20px;
}
.marcas-sobre h2,
img {
  grid-column: 2;
  margin-bottom: 60px;
}

@media (max-width: 1250px) {
  .banner-sobre {
    height: 400px;
  }
  .marcas-sobre img {
    max-width: 1000px;
  }
  .icones-sobre {
    justify-content: space-evenly;
  }
  .icones-sobre img {
    max-width: 300px;
  }
  .conteúdo-sobre h1,
  h2,
  h3,
  h4 {
    max-width: 800px;
  }
  .texto-banner {
    font-size: 36px;
    margin-bottom: 15%;
  }
}
@media (max-width: 1100px) {
  .banner-sobre {
    height: 300px;
  }
  .marcas-sobre img {
    max-width: 800px;
  }
  .icones-sobre img {
    max-width: 200px;
  }
}
@media (max-width: 830px) {
  .marcas-sobre img {
    max-width: 570px;
  }
  .icones-sobre img {
    max-width: 150px;
  }
}
@media (max-width: 600px) {
  .banner-sobre {
    height: 200px;
  }
  .marcas-sobre img {
    max-width: 350px;
  }
  .icones-sobre img {
    max-width: 100px;
  }
}
