.banner-solar {
  margin-top: 120px;
  filter: brightness(35%);
  background: url(../Imagens/img/banner-painel-solar.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: 1;
}
.content-banner-solar {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.texto-banner-solar {
  color: var(--cor-v0);
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Descrição */

.conteiner-solar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.descricao-solar {
  display: grid;
  align-content: center;
  width: 510px;
  padding: 40px;
  text-align: left;
  margin-left: auto;
  gap: 3%;
}

.descricao-solar p {
  align-content: center;
  line-height: 32px;
}

.img-solar {
  width: 550px;
  height: 450px;
  margin: 10% 5%;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .banner-solar {
    height: 300px;
  }
  .texto-banner-solar {
    font-size: 36px;
    margin-bottom: 15%;
  }
  .img-solar {
    width: 350px;
    height: 350px;
  }
  .descricao-solar h1 {
    font-size: 2rem;
  }

  .descricao-solar p {
    font-size: 1rem;
    line-height: 30px;
  }
}

@media (max-width: 1000px) {
  .conteiner-solar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .img-solar {
    grid-row: 2;
    grid-column: 2;
    width: 350px;
    height: 350px;
    margin-left: 20%;
    margin-top: 0%;
  }
  .descricao-solar {
    line-height: 26px;
    grid-row: 1;
    grid-column: 2;
    text-align: center;
  }
}

@media (max-width: 850px) {
  .img-solar {
    width: 250px;
    height: 250px;
    margin-left: 30%;
  }
  .descricao-solar h1 {
    font-size: 1.5rem;
  }
  .descricao-solar p {
    line-height: 20px;
    font-size: 0.875rem;
  }
}

@media (max-width: 600px) {
  .img-solar {
    width: 200px;
    height: 180px;
    margin-left: 30%;
  }
  .descricao-solar {
    padding: 15px;
    width: 400px;
  }
  .descricao-solar h1 {
    font-size: 1.2rem;
  }
  .descricao-solar p {
    font-size: 0.8rem;
    line-height: 18px;
  }
}

@media (max-width: 430px) {
  .descricao-solar {
    width: 250px;
  }
  .img-solar {
    width: 150px;
    height: 120px;
    margin-left: 25%;
  }
}
