.banner-solar {
  margin-top: 120px;
  filter: brightness(35%);
  background: url(../Imagens/img/banner-solar.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: 0;
}
.content-banner-solar {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.texto-banner-solar {
  color: #ffffff;
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Texto */
.texto-solar {
  max-width: 100%;
  padding: 60px;
}

.texto-solar h1 {
  color: var(--cor-v5);
  font: 800 2.5rem/1 "Barlow", san-serif;
}

.texto-solar p {
  color: var(--cor-v3);
  padding: 5px;
  font: 400 1.2rem/1 "Roboto", san-serif;
  line-height: 30px;
}

.texto-solar p:nth-child(3) {
  margin-bottom: 10%;
}

.texto-solar {
  display: grid;
  justify-content: center;
  width: 1140px;
  gap: 10%;
  margin: auto;
}
