.cor-0 {
  color: #ffffff;
}
.cor-1 {
  color: #eeeeee;
}
.cor-2 {
  color: #000000;
}
.cor-3 {
  color: #606062;
}
.cor-4 {
  color: #2da8dd;
}
.cor-5 {
  color: #1a476d;
}
.cor-6 {
  color: #1f2637;
}
.cor-7 {
  color: #071f39;
}

/* Cores para o futuro */

.cor-8 {
  color: #00375b;
}
.cor-9 {
  color: #009cb9;
}
.cor-10 {
  color: #ffc03c;
}
.cor-11 {
  color: #fcff48;
}
